<app-spinner *ngIf="loading"></app-spinner>
<div class="row mt-4" *ngIf="!loading">
    <div class="col-lg-8 offset-lg-2">
        <div class="card" style="width: 25rem; margin: 0 auto;">
            <img [src]="img" alt="" class="card-img-top img-thumbnail">
            <div class="card-body text-center">
                <h5 class="card-title">
                    {{firstName}}
                </h5>
                <ul class="list-group.list-group-flush">
                    <li class="list-group-item">{{email}}</li>
                    <li class="list-group-item">{{gender}}</li>
                    <li class="list-group-item">{{status}}</li>
                </ul>
            </div>
            <button class="btn btn-primary btn-block btn-xk" routerLink="/dashboard">
                Volver
            </button>
        </div>
    </div>
</div>