.btn-xk{
    background-color:#14ff03;
    border-color: #14ff03;
    border-radius: 10px;
    color: black;
    font-weight: 600;
}
.btn-xk:hover{
    border-width: 2px;
    background-color:#14ff03;
    border-color: #14ff03;
    color: black;
    font-weight: 700;
}